################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Guldkortet-exam/.vs/Guldkortet-exam/v15/Server/sqlite3
/Guldkortet-exam/.vs/Guldkortet-exam/v16/Server/sqlite3
